body.darkscheme #toolBucket
{
	background-image:url('img/bucket_light_icon.png');
}
body.lightscheme #toolBucket
{
	background-image:url('img/bucket_dark_icon.png');
}
body.darkscheme #toolCuegan
{
	background-image:url('img/cuegan2_light_icon.png');
}
body.lightscheme #toolCuegan
{
	background-image:url('img/cuegan2_dark_icon.png');
}
body.darkscheme #toolFlag
{
	background-image:url('img/flag_light_icon.png');
}
body.lightscheme #toolFlag
{
	background-image:url('img/flag_dark_icon.png');
}
body.darkscheme #toolLadder
{
	background-image:url('img/ladder_light_icon.png');
}
body.lightscheme #toolLadder
{
	background-image:url('img/ladder_dark_icon.png');
}
body.darkscheme #toolBag
{
	background-image:url('img/bag_light_icon.png');
}
body.lightscheme #toolBag
{
	background-image:url('img/bag_dark_icon.png');
}
body.darkscheme #toolLaPetite
{
	background-image:url('img/lapetite_light_icon.png');
}
body.lightscheme #toolLaPetite
{
	background-image:url('img/lapetite_dark_icon.png');
}
body.darkscheme #toolNewPixBot
{
	background-image:url('img/newpixbot_light_icon.png');
}
body.lightscheme #toolNewPixBot
{
	background-image:url('img/newpixbot_dark_icon.png');
}
body.darkscheme #toolTrebuchet
{
	background-image:url('img/trebuchet_light_icon.png');
}
body.lightscheme #toolTrebuchet
{
	background-image:url('img/trebuchet_dark_icon.png');
}
body.darkscheme #toolScaffold
{
	background-image:url('img/scaffold_light_icon.png');
}
body.lightscheme #toolScaffold
{
	background-image:url('img/scaffold_dark_icon.png');
}
body.darkscheme #toolWave
{
	background-image:url('img/wave_light_icon.png');
}
body.lightscheme #toolWave
{
	background-image:url('img/wave_dark_icon.png');
}
body.darkscheme #toolRiver
{
	background-image:url('img/river_light_icon.png');
}
body.lightscheme #toolRiver
{
	background-image:url('img/river_dark_icon.png');
}
body.darkscheme #toolBeanieBuilder
{
	background-image:url('img/beanie_light_icon.png');
}
body.lightscheme #toolBeanieBuilder
{
	background-image:url('img/beanie_dark_icon.png');
}
.boost.shop .icon
{
	background-image:url('img/boost_grey_icon.png');
}
body.darkscheme .boost.loot .icon
{
	background-image:url('img/boost_dark_icon.png');
}
body.lightscheme .boost.loot .icon
{
	background-image:url('img/boost_light_icon.png');
}
.badge.shop .icon
{
	background-image:url('img/badge_grey_icon.png');
}
body.darkscheme .badge.loot .icon
{
	background-image:url('img/badge_light_icon.png');
}
body.lightscheme .badge.loot .icon
{
	background-image:url('img/badge_dark_icon.png');
}
body.darkscheme .tool .icon.redacted, body.darkscheme .badge.loot .icon.redacted, body.lightscheme .boost.loot .icon.redacted
{
	background-image:url('img/redacted_light_icon.png');
}
body.lightscheme .tool .icon.redacted,  body.lightscheme .badge.loot .icon.redacted, body.darkscheme .boost.loot .icon.redacted
{
	background-image:url('img/redacted_dark_icon.png');
}
.boost.shop .icon.redacted, .badge.shop .icon.redacted
{
	background-image:url('img/redacted_grey_icon.png');
}

body.darkscheme.heresy .boost.loot.toggle, body.lightscheme.heresy .boost.shop.toggle, body.lightscheme.heresy .badge.toggle:hover,
body.darkscheme.heresy  .boost.redacted-area.toggle, body.lightscheme.heresy  .badge.redacted-area.toggle:hover
{
	background-color:#d0d0e8;
}
body.lightscheme.heresy .boost.loot.toggle, body.darkscheme.heresy .boost.shop.toggle, body.darkscheme.heresy .badge.toggle:hover,
body.lightscheme.heresy  .boost.redacted-area.toggle, body.darkscheme.heresy  .badge.redacted-area.toggle:hover
{
	background-color:#224;
}

body.darkscheme.heresy .boost.loot.toggle:hover, body.lightscheme.heresy .boost.shop.toggle:hover, body.lightscheme.heresy .badge.toggle,
body.darkscheme.heresy  .boost.redacted-area.toggle:hover, body.darkscheme.heresy  .badge.redacted-area.toggle
{
	background-color:#d8d8ff;
}
body.lightscheme.heresy .boost.loot.toggle:hover, body.darkscheme.heresy .boost.shop.toggle:hover, body.darkscheme.heresy .badge.toggle,
body.lightscheme.heresy  .boost.redacted-area.toggle:hover, body.darkscheme.heresy  .badge.redacted-area.toggle
{
	background-color:#0a0a20;
}

body.darkscheme.heresy .boost.loot.alert, body.lightscheme.heresy .boost.shop.alert, body.lightscheme.heresy .badge.alert:hover,
body.darkscheme.heresy  .boost.redacted-area.alert, body.lightscheme.heresy  .badge.redacted-area.alert:hover
{
	background-color:#fdd;
}
body.lightscheme.heresy .boost.loot.alert, body.darkscheme.heresy .boost.shop.alert, body.darkscheme.heresy .badge.alert:hover,
body.lightscheme.heresy  .boost.redacted-area.alert, body.darkscheme.heresy  .badge.redacted-area.alert:hover
{
	background-color:#522;
}

body.darkscheme.heresy .boost.loot.alert:hover, body.lightscheme.heresy .boost.shop.alert:hover, body.lightscheme.heresy .badge.alert,
body.darkscheme.heresy  .boost.redacted-area.alert:hover, body.lightscheme.heresy  .badge.redacted-area.alert
{
	background-color:#FFF2F2;
}
body.lightscheme.heresy .boost.loot.alert:hover, body.darkscheme.heresy .boost.shop.alert:hover, body.darkscheme.heresy .badge.alert,
body.lightscheme.heresy  .boost.redacted-area.alert:hover, body.darkscheme.heresy  .badge.redacted-area.alert
{
	background-color:#200b0b;
}

body.darkscheme.heresy .boost.loot.action, body.lightscheme.heresy .boost.shop.action, body.lightscheme.heresy .badge.action:hover,
body.darkscheme.heresy  .boost.redacted-area.action, body.lightscheme.heresy  .badge.redacted-area.action:hover
{
	background-color:#ffd;
}
body.lightscheme.heresy .boost.loot.action, body.darkscheme.heresy .boost.shop.action, body.darkscheme.heresy .badge.action:hover,
body.lightscheme.heresy  .boost.redacted-area.action, body.darkscheme.heresy  .badge.redacted-area.action:hover
{
	background-color:#552;
}

body.darkscheme.heresy .boost.loot.action:hover, body.lightscheme.heresy .boost.shop.action:hover, body.lightscheme.heresy .badge.action,
body.darkscheme.heresy  .boost.redacted-area.action:hover, body.lightcheme.heresy  .badge.redacted-area.action
{
	background-color:#FFFFF2;
}
body.lightscheme.heresy .boost.loot.action:hover, body.darkscheme.heresy .boost.shop.action:hover, body.darkscheme.heresy .badge.action,
body.lightscheme.heresy  .boost.redacted-area.action:hover, body.darkscheme.heresy  .badge.redacted-area.action
{
	background-color:#20200b;
}

body.darkscheme.heresy #redacteditem.castle.shop.alert, body.darkscheme.heresy .castle.redacted-area.alert
{
	background-color:#181838
}
body.lightscheme.heresy #redacteditem.castle.shop.alert, body.lightscheme.heresy .castle.redacted-area.alert
{
	background-color:#d8d8f0
}
body.darkscheme.heresy #redacteditem.castle.shop.action, body.darkscheme.heresy .castle.redacted-area.action
{
	background-color:#522
}
body.lightscheme.heresy #redacteditem.castle.shop.action, body.lightscheme.heresy .castle.redacted-area.action
{
	background-color:#fdd
}
body.darkscheme.heresy #redacteditem.castle.shop.toggle, body.darkscheme.heresy .castle.redacted-area.toggle
{
	background-color:#552
}
body.lightscheme.heresy #redacteditem.castle.shop.toggle, body.lightscheme.heresy .castle.redacted-area.toggle
{
	background-color:#ffd
}

body.darkscheme.heresy #redacteditem.sand.shop.alert, body.darkscheme.heresy .sand.redacted-area.alert
{
	background-color:#101038
}
body.lightscheme.heresy #redacteditem.sand.shop.alert, body.lightscheme.heresy .sand.redacted-area.alert
{
	background-color:#e0e0ff
}
body.darkscheme.heresy #redacteditem.sand.shop.action, body.darkscheme.heresy .sand.redacted-area.action
{
	background-color:#5f1818
}
body.lightscheme.heresy #redacteditem.sand.shop.action, body.lightscheme.heresy .sand.redacted-area.action
{
	background-color:#ffd8d8
}
body.darkscheme.heresy #redacteditem.sand.shop.toggle, body.darkscheme.heresy .sand.redacted-area.toggle
{
	background-color:#5f5f18
}
body.lightscheme.heresy #redacteditem.sand.shop.toggle, body.lightscheme.heresy .sand.redacted-area.toggle
{
	background-color:#ffffd8
}

body.lightscheme .badge.loot #badge_judgementdip.icon
{
	background-image:url('img/badge_judgementdip_dark_icon.png');
}
body.darkscheme .badge.loot #badge_judgementdip.icon
{
	background-image:url('img/badge_judgementdip_light_icon.png');
}
body.lightscheme.heresy .badge.loot #badge_judgementdip.icon
{
	background-image:url('img/badge_judgementdip_dark_heresy_icon.png');
}
body.darkscheme.heresy .badge.loot #badge_judgementdip.icon
{
	background-image:url('img/badge_judgementdip_light_heresy_icon.png');
}
body.lightscheme .badge.loot #badge_judgementdipwarning.icon
{
	background-image:url('img/badge_judgementdipwarning_dark_icon.png');
}
body.darkscheme .badge.loot #badge_judgementdipwarning.icon
{
	background-image:url('img/badge_judgementdipwarning_light_icon.png');
}
body.lightscheme.heresy .badge.loot #badge_judgementdipwarning.icon
{
	background-image:url('img/badge_judgementdipwarning_dark_heresy_icon.png');
}
body.darkscheme.heresy .badge.loot #badge_judgementdipwarning.icon
{
	background-image:url('img/badge_judgementdipwarning_light_heresy_icon.png');
}

body.lightscheme .badge.loot #badge_discov.icon
{
	background-image:url('img/badge_discovery_dark_icon.png');
}
body.darkscheme .badge.loot #badge_discov.icon
{
	background-image:url('img/badge_discovery_light_icon.png');
}

body.darkscheme .boost.loot #boost_activeninja.icon
{
	background-image:url('img/boost_activeninja_dark_icon.png');
}
body.lightscheme .boost.loot #boost_activeninja.icon
{
	background-image:url('img/boost_activeninja_light_icon.png');
}
body.darkscheme .boost.loot #boost_autosave.icon
{
	background-image:url('img/boost_autosave_dark_icon.png');
}
body.lightscheme .boost.loot #boost_autosave.icon
{
	background-image:url('img/boost_autosave_light_icon.png');
}
body.darkscheme .boost.loot #boost_bagburning.icon
{
	background-image:url('img/boost_bagburning_dark_icon.png');
}
body.lightscheme .boost.loot #boost_bagburning.icon
{
	background-image:url('img/boost_bagburning_light_icon.png');
}
body.darkscheme .boost.loot #boost_balancingact.icon
{
	background-image:url('img/boost_balancingact_dark_icon.png');
}
body.lightscheme .boost.loot #boost_balancingact.icon
{
	background-image:url('img/boost_balancingact_light_icon.png');
}
body.darkscheme .boost.loot #boost_biggerbuckets.icon
{
	background-image:url('img/boost_biggerbuckets_dark_icon.png');
}
body.lightscheme .boost.loot #boost_biggerbuckets.icon
{
	background-image:url('img/boost_biggerbuckets_light_icon.png');
}
body.darkscheme .boost.loot #boost_bigsplash.icon
{
	background-image:url('img/boost_bigsplash_dark_icon.png');
}
body.lightscheme .boost.loot #boost_bigsplash.icon
{
	background-image:url('img/boost_bigsplash_light_icon.png');
}
body.darkscheme .boost.loot #boost_bfj.icon
{
	background-image:url('img/boost_bfj_dark_icon.png');
}
body.lightscheme .boost.loot #boost_bfj.icon
{
	background-image:url('img/boost_bfj_light_icon.png');
}
body.darkscheme .boost.loot #boost_blastfurnace.icon
{
	background-image:url('img/boost_blastfurnace_dark_icon.png');
}
body.lightscheme .boost.loot #boost_blastfurnace.icon
{
	background-image:url('img/boost_blastfurnace_light_icon.png');
}
body.darkscheme .boost.loot #boost_blitzing.icon
{
	background-image:url('img/boost_blitzing_dark_icon.png');
}
body.lightscheme .boost.loot #boost_blitzing.icon
{
	background-image:url('img/boost_blitzing_light_icon.png');
}
body.darkscheme .boost.loot #boost_bkj.icon
{
	background-image:url('img/boost_bkj_dark_icon.png');
}
body.lightscheme .boost.loot #boost_bkj.icon
{
	background-image:url('img/boost_bkj_light_icon.png');
}
body.darkscheme .boost.loot #boost_buccaneer.icon
{
	background-image:url('img/boost_buccaneer_dark_icon.png');
}
body.lightscheme .boost.loot #boost_buccaneer.icon
{
	background-image:url('img/boost_buccaneer_light_icon.png');
}
body.darkscheme .boost.loot #boost_bucketbrigade.icon
{
	background-image:url('img/boost_bucketbrigade_dark_icon.png');
}
body.lightscheme .boost.loot #boost_bucketbrigade.icon
{
	background-image:url('img/boost_bucketbrigade_light_icon.png');
}
body.darkscheme .boost.loot #boost_chirpies.icon
{
	background-image:url('img/boost_chirpies_dark_icon.png');
}
body.lightscheme .boost.loot #boost_chirpies.icon
{
	background-image:url('img/boost_chirpies_light_icon.png');
}
body.darkscheme .boost.loot #boost_chromatic.icon
{
	background-image:url('img/boost_chromatic_dark_icon.png');
}
body.lightscheme .boost.loot #boost_chromatic.icon
{
	background-image:url('img/boost_chromatic_light_icon.png');
}
body.darkscheme.heresy .boost.loot #boost_chromatic.icon
{
	background-image:url('img/boost_chromatic_dark_heresy_icon.png');
}
body.lightscheme.heresy .boost.loot #boost_chromatic.icon
{
	background-image:url('img/boost_chromatic_light_heresy_icon.png');
}
body.darkscheme .boost.loot #boost_comamolpystyle.icon
{
	background-image:url('img/boost_comamolpystyle_dark_icon.png');
}
body.lightscheme .boost.loot #boost_comamolpystyle.icon
{
	background-image:url('img/boost_comamolpystyle_light_icon.png');
}
body.darkscheme .boost.loot #boost_cuegan.icon
{
	background-image:url('img/boost_cuegan_dark_icon.png');
}
body.lightscheme .boost.loot #boost_cuegan.icon
{
	background-image:url('img/boost_cuegan_light_icon.png');
}
body.darkscheme .boost.loot #boost_department.icon
{
	background-image:url('img/boost_department_dark_icon.png');
}
body.lightscheme .boost.loot #boost_department.icon
{
	background-image:url('img/boost_department_light_icon.png');
}
body.darkscheme .boost.loot #boost_doublepost.icon
{
	background-image:url('img/boost_doublepost_dark_icon.png');
}
body.lightscheme .boost.loot #boost_doublepost.icon
{
	background-image:url('img/boost_doublepost_light_icon.png');
}
body.darkscheme .boost.loot #boost_embaggening.icon
{
	background-image:url('img/boost_embaggening_dark_icon.png');
}
body.lightscheme .boost.loot #boost_embaggening.icon
{
	background-image:url('img/boost_embaggening_light_icon.png');
}
body.darkscheme .boost.loot #boost_erosion.icon
{
	background-image:url('img/boost_erosion_dark_icon.png');
}
body.lightscheme .boost.loot #boost_erosion.icon
{
	background-image:url('img/boost_erosion_light_icon.png');
}
body.darkscheme .boost.loot #boost_factoryautomation.icon
{
	background-image:url('img/boost_factoryautomation_dark_icon.png');
}
body.lightscheme .boost.loot #boost_factoryautomation.icon
{
	background-image:url('img/boost_factoryautomation_light_icon.png');
}
body.darkscheme .boost.loot #boost_flagbearer.icon
{
	background-image:url('img/boost_flagbearer_dark_icon.png');
}
body.lightscheme .boost.loot #boost_flagbearer.icon
{
	background-image:url('img/boost_flagbearer_light_icon.png');
}
body.darkscheme .boost.loot #boost_halokitty.icon
{
	background-image:url('img/boost_halokitty_dark_icon.png');
}
body.lightscheme .boost.loot #boost_halokitty.icon
{
	background-image:url('img/boost_halokitty_light_icon.png');
}
body.darkscheme .boost.loot #boost_helpfulhands.icon
{
	background-image:url('img/boost_helpfulhands_dark_icon.png');
}
body.lightscheme .boost.loot #boost_helpfulhands.icon
{
	background-image:url('img/boost_helpfulhands_light_icon.png');
}
body.darkscheme .boost.loot #boost_helpinghand.icon
{
	background-image:url('img/boost_helpinghand_dark_icon.png');
}
body.lightscheme .boost.loot #boost_helpinghand.icon
{
	background-image:url('img/boost_helpinghand_light_icon.png');
}
body.darkscheme .boost.loot #boost_hugebuckets.icon
{
	background-image:url('img/boost_hugebuckets_dark_icon.png');
}
body.lightscheme .boost.loot #boost_hugebuckets.icon
{
	background-image:url('img/boost_hugebuckets_light_icon.png');
}
body.darkscheme .boost.loot #boost_irregularrivers.icon
{
	background-image:url('img/boost_irregularrivers_dark_icon.png');
}
body.lightscheme .boost.loot #boost_irregularrivers.icon
{
	background-image:url('img/boost_irregularrivers_light_icon.png');
}
body.darkscheme .boost.loot #boost_kitnip.icon
{
	background-image:url('img/boost_kitnip_dark_icon.png');
}
body.lightscheme .boost.loot #boost_kitnip.icon
{
	background-image:url('img/boost_kitnip_light_icon.png');
}
body.darkscheme .boost.loot #boost_kittiesgalore.icon
{
	background-image:url('img/boost_kittiesgalore_dark_icon.png');
}
body.lightscheme .boost.loot #boost_kittiesgalore.icon
{
	background-image:url('img/boost_kittiesgalore_light_icon.png');
}
body.darkscheme .boost.loot #boost_levelup.icon
{
	background-image:url('img/boost_levelup_dark_icon.png');
}
body.lightscheme .boost.loot #boost_levelup.icon
{
	background-image:url('img/boost_levelup_light_icon.png');
}
body.darkscheme .boost.loot #boost_magicmountain.icon
{
	background-image:url('img/boost_magicmountain_dark_icon.png');
}
body.lightscheme .boost.loot #boost_magicmountain.icon
{
	background-image:url('img/boost_magicmountain_light_icon.png');
}
body.darkscheme .boost.loot #boost_megball.icon
{
	background-image:url('img/boost_megball_dark_icon.png');
}
body.lightscheme .boost.loot #boost_megball.icon
{
	background-image:url('img/boost_megball_light_icon.png');
}
body.darkscheme .boost.loot #boost_minigun.icon
{
	background-image:url('img/boost_minigun_dark_icon.png');
}
body.lightscheme .boost.loot #boost_minigun.icon
{
	background-image:url('img/boost_minigun_light_icon.png');
}
body.darkscheme .boost.loot #boost_molpies.icon
{
	background-image:url('img/boost_molpies_dark_icon.png');
}
body.lightscheme .boost.loot #boost_molpies.icon
{
	background-image:url('img/boost_molpies_light_icon.png');
}
body.darkscheme .boost.loot #boost_ninjaassistants.icon
{
	background-image:url('img/boost_ninjaassistants_dark_icon.png');
}
body.lightscheme .boost.loot #boost_ninjaassistants.icon
{
	background-image:url('img/boost_ninjaassistants_light_icon.png');
}
body.darkscheme .boost.loot #boost_ninjabuilder.icon
{
	background-image:url('img/boost_ninjabuilder_dark_icon.png');
}
body.lightscheme .boost.loot #boost_ninjabuilder.icon
{
	background-image:url('img/boost_ninjabuilder_light_icon.png');
}
body.darkscheme .boost.loot #boost_ninjahope.icon
{
	background-image:url('img/boost_ninjahope_dark_icon.png');
}
body.lightscheme .boost.loot #boost_ninjahope.icon
{
	background-image:url('img/boost_ninjahope_light_icon.png');
}
body.darkscheme .boost.loot #boost_ninjapenance.icon
{
	background-image:url('img/boost_ninjapenance_dark_icon.png');
}
body.lightscheme .boost.loot #boost_ninjapenance.icon
{
	background-image:url('img/boost_ninjapenance_light_icon.png');
}
body.darkscheme .boost.loot #boost_overcompensating.icon
{
	background-image:url('img/boost_overcompensating2_dark_icon.png');
}
body.lightscheme .boost.loot #boost_overcompensating.icon
{
	background-image:url('img/boost_overcompensating2_light_icon.png');
}
body.darkscheme .boost.loot #boost_riverish.icon
{
	background-image:url('img/boost_riverish_dark_icon.png');
}
body.lightscheme .boost.loot #boost_riverish.icon
{
	background-image:url('img/boost_riverish_light_icon.png');
}
body.darkscheme .boost.loot #boost_springfling.icon
{
	background-image:url('img/boost_springfling_dark_icon.png');
}
body.lightscheme .boost.loot #boost_springfling.icon
{
	background-image:url('img/boost_springfling_light_icon.png');
}
body.darkscheme .boost.loot #boost_stacked.icon
{
	background-image:url('img/boost_stacked_dark_icon.png');
}
body.lightscheme .boost.loot #boost_stacked.icon
{
	background-image:url('img/boost_stacked_light_icon.png');
}
body.darkscheme .boost.loot #boost_theforty.icon
{
	background-image:url('img/boost_theforty_dark_icon.png');
}
body.lightscheme .boost.loot #boost_theforty.icon
{
	background-image:url('img/boost_theforty_light_icon.png');
}
body.darkscheme .boost.loot #boost_truecolours.icon
{
	background-image:url('img/boost_truecolours_dark_icon.png');
}
body.lightscheme .boost.loot #boost_truecolours.icon
{
	background-image:url('img/boost_truecolours_light_icon.png');
}
body.darkscheme .boost.loot #boost_warbanner.icon
{
	background-image:url('img/boost_warbanner_dark_icon.png');
}
body.lightscheme .boost.loot #boost_warbanner.icon
{
	background-image:url('img/boost_warbanner_light_icon.png');
}

body.darkscheme .boost.loot #boost_carrybot.icon
{
	background-image:url('img/boost_carrybot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_carrybot.icon
{
	background-image:url('img/boost_carrybot_light_icon.png');
}
body.darkscheme .boost.loot #boost_stickbot.icon
{
	background-image:url('img/boost_stickbot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_stickbot.icon
{
	background-image:url('img/boost_stickbot_light_icon.png');
}
body.darkscheme .boost.loot #boost_standardbot.icon
{
	background-image:url('img/boost_standardbot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_standardbot.icon
{
	background-image:url('img/boost_standardbot_light_icon.png');
}
body.darkscheme .boost.loot #boost_climbbot.icon
{
	background-image:url('img/boost_climbbot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_climbbot.icon
{
	background-image:url('img/boost_climbbot_light_icon.png');
}
body.darkscheme .boost.loot #boost_luggagebot.icon
{
	background-image:url('img/boost_luggagebot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_luggagebot.icon
{
	background-image:url('img/boost_luggagebot_light_icon.png');
}
body.darkscheme .boost.loot #boost_recursivebot.icon
{
	background-image:url('img/boost_recursivebot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_recursivebot.icon
{
	background-image:url('img/boost_recursivebot_light_icon.png');
}
body.darkscheme .boost.loot #boost_flingbot.icon
{
	background-image:url('img/boost_flingbot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_flingbot.icon
{
	background-image:url('img/boost_flingbot_light_icon.png');
}
body.darkscheme .boost.loot #boost_propbot.icon
{
	background-image:url('img/boost_propbot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_propbot.icon
{
	background-image:url('img/boost_propbot_light_icon.png');
}
body.darkscheme .boost.loot #boost_surfbot.icon
{
	background-image:url('img/boost_surfbot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_surfbot.icon
{
	background-image:url('img/boost_surfbot_light_icon.png');
}
body.darkscheme .boost.loot #boost_smallbot.icon
{
	background-image:url('img/boost_smallbot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_smallbot.icon
{
	background-image:url('img/boost_smallbot_light_icon.png');
}
body.darkscheme .boost.loot #boost_redred.icon
{
	background-image:url('img/boost_redred_dark_icon.png');
}
body.lightscheme .boost.loot #boost_redred.icon
{
	background-image:url('img/boost_redred_light_icon.png');
}
body.darkscheme .boost.loot #boost_busybot.icon
{
	background-image:url('img/boost_busybot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_busybot.icon
{
	background-image:url('img/boost_busybot_light_icon.png');
}
body.darkscheme .boost.loot #boost_lateclosing.icon
{
	background-image:url('img/boost_lateclosing_dark_icon.png');
}
body.lightscheme .boost.loot #boost_lateclosing.icon
{
	background-image:url('img/boost_lateclosing_light_icon.png');
}
body.darkscheme .boost.loot #boost_nosell.icon
{
	background-image:url('img/boost_nosell_dark_icon.png');
}
body.lightscheme .boost.loot #boost_nosell.icon
{
	background-image:url('img/boost_nosell_light_icon.png');
}
body.darkscheme .boost.loot #boost_swedishchef.icon
{
	background-image:url('img/boost_swedishchef_dark_icon.png');
}
body.lightscheme .boost.loot #boost_swedishchef.icon
{
	background-image:url('img/boost_swedishchef_light_icon.png');
}
body.darkscheme .boost.loot #boost_vitss.icon
{
	background-image:url('img/boost_vitss_dark_icon.png');
}
body.lightscheme .boost.loot #boost_vitss.icon
{
	background-image:url('img/boost_vitss_light_icon.png');
}
body.darkscheme .boost.loot #boost_ninjaleague.icon
{
	background-image:url('img/boost_ninjaleague_dark_icon.png');
}
body.lightscheme .boost.loot #boost_ninjaleague.icon
{
	background-image:url('img/boost_ninjaleague_light_icon.png');
}
body.darkscheme .boost.loot #boost_navcode.icon
{
	background-image:url('img/boost_navcode_dark_icon.png');
}
body.lightscheme .boost.loot #boost_navcode.icon
{
	background-image:url('img/boost_navcode_light_icon.png');
}
body.darkscheme .boost.loot #boost_robotefficiency.icon
{
	background-image:url('img/boost_robotefficiency_dark_icon.png');
}
body.lightscheme .boost.loot #boost_robotefficiency.icon
{
	background-image:url('img/boost_robotefficiency_light_icon.png');
}
body.darkscheme .boost.loot #boost_grapevine.icon
{
	background-image:url('img/boost_grapevine_dark_icon.png');
}
body.lightscheme .boost.loot #boost_grapevine.icon
{
	background-image:url('img/boost_grapevine_light_icon.png');
}
body.darkscheme .boost.loot #boost_chateau.icon
{
	background-image:url('img/boost_chateau_dark_icon.png');
}
body.lightscheme .boost.loot #boost_chateau.icon
{
	background-image:url('img/boost_chateau_light_icon.png');
}
body.darkscheme .boost.loot #boost_rosetta.icon
{
	background-image:url('img/boost_rosetta_dark_icon.png');
}
body.lightscheme .boost.loot #boost_rosetta.icon
{
	background-image:url('img/boost_rosetta_light_icon.png');
}
body.darkscheme .boost.loot #boost_glasschipstore.icon
{
	background-image:url('img/boost_glasschipstore_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glasschipstore.icon
{
	background-image:url('img/boost_glasschipstore_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassblockstore.icon
{
	background-image:url('img/boost_glassblockstore_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassblockstore.icon
{
	background-image:url('img/boost_glassblockstore_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassblower.icon
{
	background-image:url('img/boost_glassblower_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassblower.icon
{
	background-image:url('img/boost_glassblower_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassfurnace.icon
{
	background-image:url('img/boost_glassfurnace_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassfurnace.icon
{
	background-image:url('img/boost_glassfurnace_light_icon.png');
}
body.darkscheme .boost.loot #boost_sandrefinery.icon
{
	background-image:url('img/boost_sandrefinery_dark_icon.png');
}
body.lightscheme .boost.loot #boost_sandrefinery.icon
{
	background-image:url('img/boost_sandrefinery_light_icon.png');
}
body.darkscheme .boost.loot #boost_furnacecrossfeed.icon
{
	background-image:url('img/boost_furnacecrossfeed_dark_icon.png');
}
body.lightscheme .boost.loot #boost_furnacecrossfeed.icon
{
	background-image:url('img/boost_furnacecrossfeed_light_icon.png');
}
body.darkscheme .boost.loot #boost_shopassist.icon
{
	background-image:url('img/boost_shopassist_dark_icon.png');
}
body.lightscheme .boost.loot #boost_shopassist.icon
{
	background-image:url('img/boost_shopassist_light_icon.png');
}
body.darkscheme .boost.loot #boost_castlecrusher.icon
{
	background-image:url('img/boost_castlecrusher_dark_icon.png');
}
body.lightscheme .boost.loot #boost_castlecrusher.icon
{
	background-image:url('img/boost_castlecrusher_light_icon.png');
}
body.darkscheme .boost.loot #boost_cheqflag.icon
{
	background-image:url('img/boost_cheqflag_dark_icon.png');
}
body.lightscheme .boost.loot #boost_cheqflag.icon
{
	background-image:url('img/boost_cheqflag_light_icon.png');
}
body.darkscheme .boost.loot #boost_skullcrossbones.icon
{
	background-image:url('img/boost_skullcrossbones_dark_icon.png');
}
body.lightscheme .boost.loot #boost_skullcrossbones.icon
{
	background-image:url('img/boost_skullcrossbones_light_icon.png');
}
body.darkscheme .boost.loot #boost_stealthybot.icon
{
	background-image:url('img/boost_stealthybot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_stealthybot.icon
{
	background-image:url('img/boost_stealthybot_light_icon.png');
}
body.darkscheme .boost.loot #boost_familydiscount.icon
{
	background-image:url('img/boost_familydiscount_dark_icon.png');
}
body.lightscheme .boost.loot #boost_familydiscount.icon
{
	background-image:url('img/boost_familydiscount_light_icon.png');
}
body.darkscheme .boost.loot #boost_fractals.icon
{
	background-image:url('img/boost_fractals_dark_icon.gif');
}
body.lightscheme .boost.loot #boost_fractals.icon
{
	background-image:url('img/boost_fractals_light_icon.gif');
}
body.darkscheme .boost.loot #boost_schizoblitz.icon
{
	background-image:url('img/boost_schizoblitz_dark_icon.png');
}
body.lightscheme .boost.loot #boost_schizoblitz.icon
{
	background-image:url('img/boost_schizoblitz_light_icon.png');
}
body.darkscheme .boost.loot #boost_glasschiller.icon
{
	background-image:url('img/boost_glasschiller_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glasschiller.icon
{
	background-image:url('img/boost_glasschiller_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassjaw.icon
{
	background-image:url('img/boost_glassjaw_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassjaw.icon
{
	background-image:url('img/boost_glassjaw_light_icon.png');
}
body.darkscheme .boost.loot #boost_brokenrung.icon
{
	background-image:url('img/boost_brokenrung_dark_icon.png');
}
body.lightscheme .boost.loot #boost_brokenrung.icon
{
	background-image:url('img/boost_brokenrung_light_icon.png');
}
body.darkscheme .boost.loot #boost_redunception.icon
{
	background-image:url('img/boost_redunception_dark_icon.png');
}
body.lightscheme .boost.loot #boost_redunception.icon
{
	background-image:url('img/boost_redunception_light_icon.png');
}
body.darkscheme .boost.loot #boost_furnacemultitask.icon
{
	background-image:url('img/boost_furnacemultitask_dark_icon.png');
}
body.lightscheme .boost.loot #boost_furnacemultitask.icon
{
	background-image:url('img/boost_furnacemultitask_light_icon.png');
}
body.darkscheme .boost.loot #boost_logicat.icon
{
	background-image:url('img/boost_logicat_dark_icon.png');
}
body.lightscheme .boost.loot #boost_logicat.icon
{
	background-image:url('img/boost_logicat_light_icon.png');
}
body.darkscheme .boost.loot #boost_panthersalve.icon
{
	background-image:url('img/boost_panthersalve_dark_icon.png');
}
body.lightscheme .boost.loot #boost_panthersalve.icon
{
	background-image:url('img/boost_panthersalve_light_icon.png');
}
body.darkscheme .boost.loot #boost_phonesaw.icon
{
	background-image:url('img/boost_phonesaw_dark_icon.png');
}
body.lightscheme .boost.loot #boost_phonesaw.icon
{
	background-image:url('img/boost_phonesaw_light_icon.png');
}
body.darkscheme .boost.loot #boost_preciseplacement.icon
{
	background-image:url('img/boost_preciseplacement_dark_icon.png');
}
body.lightscheme .boost.loot #boost_preciseplacement.icon
{
	background-image:url('img/boost_preciseplacement_light_icon.png');
}
body.darkscheme .boost.loot #boost_raisetheflag.icon
{
	background-image:url('img/boost_raisetheflag_dark_icon.png');
}
body.lightscheme .boost.loot #boost_raisetheflag.icon
{
	background-image:url('img/boost_raisetheflag_light_icon.png');
}
body.darkscheme .boost.loot #boost_sandmultibuy.icon
{
	background-image:url('img/boost_sandmultibuy_dark_icon.png');
}
body.lightscheme .boost.loot #boost_sandmultibuy.icon
{
	background-image:url('img/boost_sandmultibuy_light_icon.png');
}
body.darkscheme .boost.loot #boost_bagpuns.icon
{
	background-image:url('img/boost_bagpuns_dark_icon.png');
}
body.lightscheme .boost.loot #boost_bagpuns.icon
{
	background-image:url('img/boost_bagpuns_light_icon.png');
}
body.darkscheme .boost.loot #boost_castlemultibuy.icon
{
	background-image:url('img/boost_castlemultibuy_dark_icon.png');
}
body.lightscheme .boost.loot #boost_castlemultibuy.icon
{
	background-image:url('img/boost_castlemultibuy_light_icon.png');
}
body.darkscheme .boost.loot #boost_cooperation.icon
{
	background-image:url('img/boost_cooperation_dark_icon.png');
}
body.lightscheme .boost.loot #boost_cooperation.icon
{
	background-image:url('img/boost_cooperation_light_icon.png');
}
body.darkscheme .boost.loot #boost_dreamcat.icon
{
	background-image:url('img/boost_dreamcat_dark_icon.png');
}
body.lightscheme .boost.loot #boost_dreamcat.icon
{
	background-image:url('img/boost_dreamcat_light_icon.png');
}
body.darkscheme.heresy .boost.loot #boost_dreamcat.icon
{
	background-image:url('img/boost_dreamcat_dark_heresy_icon.png');
}
body.lightscheme.heresy .boost.loot #boost_dreamcat.icon
{
	background-image:url('img/boost_dreamcat_light_heresy_icon.png');
}
body.darkscheme .boost.loot #boost_extensionladder.icon
{
	background-image:url('img/boost_extensionladder_dark_icon.png');
}
body.lightscheme .boost.loot #boost_extensionladder.icon
{
	background-image:url('img/boost_extensionladder_light_icon.png');
}
body.darkscheme .boost.loot #boost_swell.icon
{
	background-image:url('img/boost_swell_dark_icon.png');
}
body.lightscheme .boost.loot #boost_swell.icon
{
	background-image:url('img/boost_swell_light_icon.png');
}
body.darkscheme .boost.loot #boost_swimbetweenflags.icon
{
	background-image:url('img/boost_swimbetweenflags_dark_icon.png');
}
body.lightscheme .boost.loot #boost_swimbetweenflags.icon
{
	background-image:url('img/boost_swimbetweenflags_light_icon.png');
}
body.darkscheme .boost.loot #boost_trebpong.icon
{
	background-image:url('img/boost_trebpong_dark_icon.png');
}
body.lightscheme .boost.loot #boost_trebpong.icon
{
	background-image:url('img/boost_trebpong_light_icon.png');
}
body.darkscheme .boost.loot #boost_variedammo.icon
{
	background-image:url('img/boost_variedammo_dark_icon.png');
}
body.lightscheme .boost.loot #boost_variedammo.icon
{
	background-image:url('img/boost_variedammo_light_icon.png');
}
body.darkscheme .boost.loot #boost_achronaldragon.icon
{
	background-image:url('img/boost_achronaldragon_dark_icon.png');
}
body.lightscheme .boost.loot #boost_achronaldragon.icon
{
	background-image:url('img/boost_achronaldragon_light_icon.png');
}
body.darkscheme .boost.loot #boost_catamaran.icon
{
	background-image:url('img/boost_catamaran_dark_icon.png');
}
body.lightscheme .boost.loot #boost_catamaran.icon
{
	background-image:url('img/boost_catamaran_light_icon.png');
}
body.darkscheme .boost.loot #boost_timetravel.icon
{
	background-image:url('img/boost_timetravel_dark_icon.png');
}
body.lightscheme .boost.loot #boost_timetravel.icon
{
	background-image:url('img/boost_timetravel_light_icon.png');
}
body.darkscheme .boost.loot #boost_sandpurifier.icon
{
	background-image:url('img/boost_sandpurifier_dark_icon.png');
}
body.lightscheme .boost.loot #boost_sandpurifier.icon
{
	background-image:url('img/boost_sandpurifier_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassextruder.icon
{
	background-image:url('img/boost_glassextruder_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassextruder.icon
{
	background-image:url('img/boost_glassextruder_light_icon.png');
}
body.darkscheme .boost.loot #boost_smm.icon
{
	background-image:url('img/boost_smm_dark_icon.png');
}
body.lightscheme .boost.loot #boost_smm.icon
{
	background-image:url('img/boost_smm_light_icon.png');
}
body.darkscheme .boost.loot #boost_coldmould.icon
{
	background-image:url('img/boost_coldmould_dark_icon.png');
}
body.lightscheme .boost.loot #boost_coldmould.icon
{
	background-image:url('img/boost_coldmould_light_icon.png');
}
body.darkscheme .boost.loot #boost_cagedlogicat.icon
{
	background-image:url('img/boost_cagedlogicat_dark_icon.png');
}
body.lightscheme .boost.loot #boost_cagedlogicat.icon
{
	background-image:url('img/boost_cagedlogicat_light_icon.png');
}
body.darkscheme .boost.loot #boost_recyclingbeanies.icon
{
	background-image:url('img/boost_recyclingbeanies_dark_icon.png');
}
body.lightscheme .boost.loot #boost_recyclingbeanies.icon
{
	background-image:url('img/boost_recyclingbeanies_light_icon.png');
}
body.darkscheme .boost.loot #boost_camera.icon
{
	background-image:url('img/boost_camera_dark_icon.png');
}
body.lightscheme .boost.loot #boost_camera.icon
{
	background-image:url('img/boost_camera_light_icon.png');
}
body.darkscheme .boost.loot #boost_lockedcrate.icon
{
	background-image:url('img/boost_lockedcrate_dark_icon.png');
}
body.lightscheme .boost.loot #boost_lockedcrate.icon
{
	background-image:url('img/boost_lockedcrate_light_icon.png');
}
body.darkscheme .boost.loot #boost_priceprotection.icon
{
	background-image:url('img/boost_priceprotection_dark_icon.png');
}
body.lightscheme .boost.loot #boost_priceprotection.icon
{
	background-image:url('img/boost_priceprotection_light_icon.png');
}
body.darkscheme .boost.loot #boost_ninjasaw.icon
{
	background-image:url('img/boost_ninjasaw_dark_icon.png');
}
body.lightscheme .boost.loot #boost_ninjasaw.icon
{
	background-image:url('img/boost_ninjasaw_light_icon.png');
}
body.darkscheme .boost.loot #boost_impninja.icon
{
	background-image:url('img/boost_impninja_dark_icon.png');
}
body.lightscheme .boost.loot #boost_impninja.icon
{
	background-image:url('img/boost_impninja_light_icon.png');
}
body.darkscheme .boost.loot #boost_lcb.icon
{
	background-image:url('img/boost_lcb_dark_icon.png');
}
body.lightscheme .boost.loot #boost_lcb.icon
{
	background-image:url('img/boost_lcb_light_icon.png');
}
body.darkscheme .boost.loot #boost_rrr.icon
{
	background-image:url('img/boost_rrr_dark_icon.png');
}
body.lightscheme .boost.loot #boost_rrr.icon
{
	background-image:url('img/boost_rrr_light_icon.png');
}
body.darkscheme .boost.loot #boost_redundaraptor.icon
{
	background-image:url('img/boost_redundaraptor_dark_icon.png');
}
body.lightscheme .boost.loot #boost_redundaraptor.icon
{
	background-image:url('img/boost_redundaraptor_light_icon.png');
}
body.darkscheme .boost.loot #boost_fluxcap.icon
{
	background-image:url('img/boost_fluxcap_dark_icon.png');
}
body.lightscheme .boost.loot #boost_fluxcap.icon
{
	background-image:url('img/boost_fluxcap_light_icon.png');
}
body.darkscheme .boost.loot #boost_bbc.icon
{
	background-image:url('img/boost_bbc_dark_icon.png');
}
body.lightscheme .boost.loot #boost_bbc.icon
{
	background-image:url('img/boost_bbc_light_icon.png');
}
body.darkscheme .boost.loot #boost_expando.icon
{
	background-image:url('img/boost_expando_dark_icon.png');
}
body.lightscheme .boost.loot #boost_expando.icon
{
	background-image:url('img/boost_expando_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassceiling0.icon
{
	background-image:url('img/boost_glassceiling0_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassceiling0.icon
{
	background-image:url('img/boost_glassceiling0_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassceiling1.icon
{
	background-image:url('img/boost_glassceiling1_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassceiling1.icon
{
	background-image:url('img/boost_glassceiling1_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassceiling2.icon
{
	background-image:url('img/boost_glassceiling2_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassceiling2.icon
{
	background-image:url('img/boost_glassceiling2_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassceiling3.icon
{
	background-image:url('img/boost_glassceiling3_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassceiling3.icon
{
	background-image:url('img/boost_glassceiling3_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassceiling4.icon
{
	background-image:url('img/boost_glassceiling4_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassceiling4.icon
{
	background-image:url('img/boost_glassceiling4_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassceiling5.icon
{
	background-image:url('img/boost_glassceiling5_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassceiling5.icon
{
	background-image:url('img/boost_glassceiling5_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassceiling6.icon
{
	background-image:url('img/boost_glassceiling6_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassceiling6.icon
{
	background-image:url('img/boost_glassceiling6_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassceiling7.icon
{
	background-image:url('img/boost_glassceiling7_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassceiling7.icon
{
	background-image:url('img/boost_glassceiling7_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassceiling8.icon
{
	background-image:url('img/boost_glassceiling8_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassceiling8.icon
{
	background-image:url('img/boost_glassceiling8_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassceiling9.icon
{
	background-image:url('img/boost_glassceiling9_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassceiling9.icon
{
	background-image:url('img/boost_glassceiling9_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassceiling10.icon
{
	background-image:url('img/boost_glassceiling10_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassceiling10.icon
{
	background-image:url('img/boost_glassceiling10_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassceiling11.icon
{
	background-image:url('img/boost_glassceiling11_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassceiling11.icon
{
	background-image:url('img/boost_glassceiling11_light_icon.png');
}
body.darkscheme .boost.loot #boost_glassceiling12.icon
{
	background-image:url('img/boost_glassceiling12_dark_icon.png');
}
body.lightscheme .boost.loot #boost_glassceiling12.icon
{
	background-image:url('img/boost_glassceiling12_light_icon.png');
}
body.darkscheme .boost.loot #boost_blackprints.icon
{
	background-image:url('img/boost_blackprints_dark_icon.png');
}
body.lightscheme .boost.loot #boost_blackprints.icon
{
	background-image:url('img/boost_blackprints_light_icon.png');
}
body.darkscheme .boost.loot #boost_breakthemould.icon
{
	background-image:url('img/boost_breakthemould_dark_icon.png');
}
body.lightscheme .boost.loot #boost_breakthemould.icon
{
	background-image:url('img/boost_breakthemould_light_icon.png');
}
body.darkscheme .boost.loot #boost_constructblack.icon
{
	background-image:url('img/boost_constructblack_dark_icon.png');
}
body.lightscheme .boost.loot #boost_constructblack.icon
{
	background-image:url('img/boost_constructblack_light_icon.png');
}
body.darkscheme .boost.loot #boost_handitup.icon
{
	background-image:url('img/boost_handitup_dark_icon.png');
}
body.lightscheme .boost.loot #boost_handitup.icon
{
	background-image:url('img/boost_handitup_light_icon.png');
}
body.darkscheme .boost.loot #boost_keygrinder.icon
{
	background-image:url('img/boost_keygrinder_dark_icon.png');
}
body.lightscheme .boost.loot #boost_keygrinder.icon
{
	background-image:url('img/boost_keygrinder_light_icon.png');
}
body.darkscheme .boost.loot #boost_logicastle.icon
{
	background-image:url('img/boost_logicastle_dark_icon.png');
}
body.lightscheme .boost.loot #boost_logicastle.icon
{
	background-image:url('img/boost_logicastle_light_icon.png');
}
body.darkscheme .boost.loot #boost_ninjaclimber.icon
{
	background-image:url('img/boost_ninjaclimber_dark_icon.png');
}
body.lightscheme .boost.loot #boost_ninjaclimber.icon
{
	background-image:url('img/boost_ninjaclimber_light_icon.png');
}
body.darkscheme .boost.loot #boost_ninjalegion.icon
{
	background-image:url('img/boost_ninjalegion_dark_icon.png');
}
body.lightscheme .boost.loot #boost_ninjalegion.icon
{
	background-image:url('img/boost_ninjalegion_light_icon.png');
}
body.darkscheme .boost.loot #boost_sandbag.icon
{
	background-image:url('img/boost_sandbag_dark_icon.png');
}
body.lightscheme .boost.loot #boost_sandbag.icon
{
	background-image:url('img/boost_sandbag_light_icon.png');
}
body.darkscheme .boost.loot #boost_secondchance.icon
{
	background-image:url('img/boost_secondchance_dark_icon.png');
}
body.lightscheme .boost.loot #boost_secondchance.icon
{
	background-image:url('img/boost_secondchance_light_icon.png');
}
body.darkscheme .boost.loot #boost_keything.icon
{
	background-image:url('img/boost_keything_dark_icon.png');
}
body.lightscheme .boost.loot #boost_keything.icon
{
	background-image:url('img/boost_keything_light_icon.png');
}
body.darkscheme .boost.loot #boost_wwb.icon
{
	background-image:url('img/boost_wwb_dark_icon.png');
}
body.lightscheme .boost.loot #boost_wwb.icon
{
	background-image:url('img/boost_wwb_light_icon.png');
}
body.darkscheme .boost.loot #boost_goat.icon
{
	background-image:url('img/boost_goat_dark_icon.png');
}
body.lightscheme .boost.loot #boost_goat.icon
{
	background-image:url('img/boost_goat_light_icon.png');
}
body.darkscheme .boost.loot #boost_monty.icon
{
	background-image:url('img/boost_monty_dark_icon.png');
}
body.lightscheme .boost.loot #boost_monty.icon
{
	background-image:url('img/boost_monty_light_icon.png');
}