/* reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
b{
	font-weight:bold;
}
i{
	 font-style: italic;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body
{
	width:100%;
	height:100%;
}

body
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
	
	font-family:Tahoma,Arial,sans-serif;
	font-size:13px;
}
body.darkscheme, body.darkscheme a.minifloatbox
{
	color:#fafafa;
	background-color:#050505;
}
body.lightscheme , body.lightscheme a.minifloatbox
{
	color:#020202;
	background-color:#fdfdfd;
}

small
{
	font-size:80%;
}
.flip
{
	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg); 
	-o-transform:rotate(-180deg); 
	transform:rotate(-180deg);
	ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}
.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv;
    filter: flipv;
}

.strike
{
	text-decoration:line-through;
}
.unbuyable
{
	text-decoration:line-through;
}

a
{
	text-decoration:underline;
	cursor:pointer;
}
body.darkscheme a:hover
{
	text-shadow:0px 0px 3px #fff;
	color:#fff;
}
body.lightscheme  a:hover
{
	text-shadow:0px 0px 3px #111;
	color:#000;
}
body.darkscheme a.unbuyable:hover
{
	text-shadow:0px 0px 3px #fff;
	color:#000;
}
body.lightscheme  a.unbuyable:hover
{
	text-shadow:0px 0px 3px #111;
	color:#fff;
}
.partext
{
	padding:8px;
	-webkit-touch-callout: auto;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}
.faded
{
	opacity:0.9;
}
a:active
{
	opacity:0.8;
}
#sectionControls
{
	position:absolute;
	top:40px;
	margin:10px;
}
#indexlinks
{
	margin:15px;
}
.otthercomic1
{
	margin:20px;
	background-image:url('img/otthercomic1.png');
	width:640px;
	height:523px;
}
.otthercomic2
{
	margin:20px;
	background-image:url('img/otthercomic2.png');
	width:676px;
	height:709px;
}
#devtweets
{
	margin-left:20px;
}
#beach
{
	width:553px;
	height:395px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
	z-index:10;
	border-width: 2px;
	border-style: solid;
	-webkit-transition: opacity 0.1s ease-out,-webkit-transform 0.1s ease-out;
	-moz-transition: opacity 0.1s ease-out,-moz-transform 0.1s ease-out;
	-ms-transition: opacity 0.1s ease-out,-ms-transform 0.1s ease-out;
	-o-transition: opacity 0.1s ease-out,-o-transform 0.1s ease-out;
	transition: opacity 0.1s ease-out,transform 0.1s ease-out;
}
#beach:hover
{
	-webkit-transform:scale(0.99,0.99);opacity:0.9;
	-moz-transform:scale(0.99,0.99);opacity:0.9;
	-ms-transform:scale(0.99,0.99);opacity:0.9;
	-o-transform:scale(0.99,0.99);opacity:0.9;
	transform:scale(0.99,0.99);opacity:0.9;
}
#beach:active
{
	-webkit-transform:scale(0.98,0.98);opacity:1;
	-moz-transform:scale(0.98,0.98);opacity:1;
	-ms-transform:scale(0.98,0.98);opacity:1;
	-o-transform:scale(0.98,0.98);opacity:1;
	transform:scale(0.98,0.98);opacity:1;
}
#beach:hover.flip-horizontal
{
	-webkit-transform:scale(-0.99,0.99);opacity:0.9;
	-moz-transform:scale(-0.99,0.99);opacity:0.9;
	-ms-transform:scale(-0.99,0.99);opacity:0.9;
	-o-transform:scale(-0.99,0.99);opacity:0.9;
	transform:scale(-0.99,0.99);opacity:0.9;
}
#beach:active.flip-horizontal
{
	-webkit-transform:scale(-0.98,0.98);opacity:1;
	-moz-transform:scale(-0.98,0.98);opacity:1;
	-ms-transform:scale(-0.98,0.98);opacity:1;
	-o-transform:scale(-0.98,0.98);opacity:1;
	transform:scale(-0.98,0.98);opacity:1;
}

.beachninjawarning
{
	border-color:#A22;
}
.beachongwarning
{
	border-color:#AA2;
}
.beachstreakextend
{
	border-color:#22A;
}
.beachsafe
{
	border-color:#2A2;
}
.npthumb
{
	width:130px;
	height:94px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	border-width: 1px;
	border-style: solid;
}
#sectionStatsBody
{
	min-height:45px;
	min-width:85px;
}
#sectionViewBody
{
	height:40px;
	min-height:40px;
	min-width:68px;
}
#sectionFileBody
{
	height:40px;
	min-height:40px;
	min-width:68px;
}
#sectionOptionsBody
{
	height:50px;
	min-height:40px;
	min-width:68px;
}
#sectionExportBody
{
	height:250px;
	min-height:180px;
	min-width:180px;
}
.statsTab
{
	position:absolute;
	width:290px;
	min-height:350px;
}
#sectionLog
{
	-webkit-touch-callout: auto;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

#beachAnchor
{
	max-width:600px;
	margin:5px;
	display: inline-block;
}

.toolwrapper
{
	min-height:90px;
	max-height:1100px;
	min-width:188px;
	max-width:1100px;
}

#lootSelection
{
	padding: 10px;
	height:150px;
	width:inherit;
}

#sectionMainStats
{
}
#sectionShopBody
{
	padding: 5px;
	height:100px;
	min-height:100px;
	min-width:170px;
}

#clockface {
	background-color:White;
	background-image:url('img/clockface.png');
	width:40px;
	height:40px;
	border-radius:50px;
	z-index:30;
}


.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url(http://code.jquery.com/ui/1.10.3/themes/smoothness/images/ui-icons_222222_256x240.png);
}
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }


.floatbox{
	display: inline-block;
	margin:5px;
	vertical-align: top;
	width:145px;
	min-height:66px;
	border-width: 1px;
	border-style: solid;
	padding: 4px;
}

body.darkscheme .floatbox:hover{
	border-color:#ddd;
	background-color:#000
}

body.lightscheme .floatbox:hover{
	border-color:#222;
	background-color:#fff
}

.navbaritem{
	vertical-align: top;
	min-width:48px;
	min-height:20px;
	margin:5px;
	border-width: 1px;
	border-style: solid;
	text-align:center;
	padding: 4px;
}
.lootbox{
	display: inline-block;
	vertical-align: top;
	width:130px;
	min-height:38px;
	margin:5px;
	border-width: 1px;
	border-style: solid;
	overflow:hidden;
	padding: 4px;
}
.minifloatbox{
	display: inline-block;
	vertical-align: top;
	min-width:48px;
	min-height:20px;
	margin:5px;
	border-width: 1px;
	border-style: solid;
	text-align:center;
	padding: 4px;
}
.floatsquare{
	display: inline-block;
	vertical-align: top;
	min-width:80px;
	min-height:48px;
	margin:5px;
	border-width: 1px;
	border-style: solid;
	text-align:center;
	padding: 2px;
}
.infobox
{
	text-align:center;
	width:161px;
	margin:10px;
}

.resizable-element
{
	min-width:40px;
	min-width:40px;
	min-height:10px;
}
.draggable-element
{
	position:absolute;
	border-width: 1px;
	border-style: solid;
}
.editlock
{
	border-style: none;
}
.table-wrapper
{
	overflow:hidden;
	width:auto;
	height:auto;
}
.table-header /*probably don't need this after all but might as well keep it on the relevant elements just in case*/
{
}
.table-footer
{
}
.table-content-wrapper
{
    height: 100%;
    width: 100%;
	overflow-y:auto;
	overflow-x:hidden;
}
.table-content
{
    height: 100%; 
    width: 100%;
}
.depressed
{
	border-width:2px;
}
body.lightscheme .depressed
{
	background-color:#ddd;
}
body.darkscheme .depressed
{
	background-color:#383838;
}
body.darkscheme .infobox
{
	background-color:#111;
}
body.lightscheme .infobox
{
	background-color:#eee;
}
body.darkscheme .sand.shop
{
	background-color:#181818
}
body.lightscheme .sand.shop
{
	background-color:#ddd
}
body.darkscheme .castle.shop
{
	background-color:#222
}
body.lightscheme .castle.shop
{
	background-color:#d8d8d8
}
body.darkscheme .boost.shop
{
	background-color:#282828
}
body.lightscheme .boost.shop
{
	background-color:#c8c8c8
}
body.darkscheme .boost.loot
{
	background-color:#ddd;
	color:#000;
	border-color:#333;
}
body.lightscheme .boost.loot
{
	background-color:#222;
	color:#fff;
	border-color:#ccc;
}
body.darkscheme .boost.loot:hover
{
	background-color:#F5F5F5;
	color:#000;
}
body.lightscheme .boost.loot:hover
{
	background-color:#0b0b0b;
	color:#fff;
}
.badge.shop
{
	border-style:dashed;
}
body.darkscheme .badge.shop
{
	color:#aaa;
	border-color:#222;
}
body.lightscheme .badge.shop
{
	color:#666;
	border-color:#ddd;
}
.badge.shop:hover
{
	border-style:solid;
}
body.darkscheme .badge.shop:hover
{
	color:#ccc;
	background-color:#111;
}
body.lightscheme .badge.shop:hover
{
	color:#333;
	background-color:#eee;
}
body.darkscheme .badge.shop h1
{
	color:#333;
}
body.lightscheme .badge.shop h1
{
	color:#ccc;
}
body.darkscheme .badge.loot
{
	border-color:#ccc;
	color:#eee;
}
body.lightscheme .badge.loot
{
	border-color:#333;
	color:#111;
}
body.darkscheme .badge.loot:hover
{
	background-color:#222;
	border-color:#ccc;
}
body.lightscheme .badge.loot:hover
{
	background-color:#ddd;
	border-color:#333;
}
body.darkscheme .badge.loot h1
{
	color:#999;
}
body.lightscheme .badge.loot h1
{
	color:#777;
}
.selectedBox
{
	border-width:2px;
}
.hidden
{
	display:none;
}
.unhidden
{
	display:block;
}
@font-face {
	font-family: 'Conv_xkcd-Regular';
	src: local('?'), url('fonts/xkcd-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
.bigheading
{
	font-family:'Conv_xkcd-Regular',Sans-Serif;
	font-size:48px;
	margin:20px;
}
.subheading
{
	font-family:'Conv_xkcd-Regular',Sans-Serif;
	font-size:20px;
	margin:20px;
}
#notifs {position:fixed;left:0px;top:0px;}
.notif
{
	font-family:'Conv_xkcd-Regular',Sans-Serif;
	position:absolute;
	pointer-events:none;
	left:-200px;
	bottom:0px;
	width:600px;
	z-index:100000000;
	text-align:center;
	font-size:28px;
}
.icon
{
	float:right;
	top:4px;
	width:32px;
	height:32px;
}
.magentatext
{
	color:#ff4cff
}
.limetext
{
	color:#66f666
}
.rightjust
{
	text-align:right;
}
.cyantext
{
	color:#7fffff
}
.bigtext
{
	font-size:140%;
}

body.darkscheme .notif
{
	text-shadow:0px 0px 6px #000;
}
body.lightscheme .notif
{
	text-shadow:0px 0px 6px #fff;
}