/* reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
div{
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html,body
{
	width:100%;
	height:100%;
}

body
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
	
	font-family:Tahoma,Arial,sans-serif;
	font-size:13px;
}
body.darkscheme
{
	color:#fafafa;
	background:#050505;
}
body.lightscheme 
{
	color:#020202;
	background:#fdfdfd;
}

small
{
	font-size:80%;
}

a
{
	text-decoration:underline;
	cursor:pointer;
}
body.darkscheme a:hover
{
	text-shadow:0px 0px 3px #fff;
	color:#fff;
}
body.lightscheme  a:hover
{
	text-shadow:0px 0px 3px #111;
	color:#000;
}
a:active
{
	opacity:0.8;
}
#sectionControls
{
	position:absolute;
	top:5px;
	margin-left:51px;
}
#beach
{
	width:553px;
	height:395px;
	background-size:533px 395px;
	cursor:pointer;
	z-index:10;
	-webkit-transition: opacity 0.1s ease-out,-webkit-transform 0.1s ease-out;
	-moz-transition: opacity 0.1s ease-out,-moz-transform 0.1s ease-out;
	-ms-transition: opacity 0.1s ease-out,-ms-transform 0.1s ease-out;
	-o-transition: opacity 0.1s ease-out,-o-transform 0.1s ease-out;
	transition: opacity 0.1s ease-out,transform 0.1s ease-out;
	border-width: 1px;
	border-style: solid;
}
#beach:hover
{
	-webkit-transform:scale(1.05,1.05);opacity:0.9;
	-moz-transform:scale(1.05,1.05);opacity:0.9;
	-ms-transform:scale(1.05,1.05);opacity:0.9;
	-o-transform:scale(1.05,1.05);opacity:0.9;
	transform:scale(1.05,1.05);opacity:0.9;
}
#beach:active
{
	-webkit-transform:scale(0.98,0.98);opacity:1;
	-moz-transform:scale(0.98,0.98);opacity:1;
	-ms-transform:scale(0.98,0.98);opacity:1;
	-o-transform:scale(0.98,0.98);opacity:1;
	transform:scale(0.98,0.98);opacity:1;
}
#exporttext
{
	width:540px;
	height:385px;
}
#statsItems
{
	position:absolute;
	width:290px;
	height:380px;
}
#notiflog
{
	top:0px;
	margin-left:300px;
	height:380px;
	width:280px;
	overflow-y:scroll;
	overflow-x:hidden;
}
#sectionTop
{
	width:600px;
	position:absolute;
}
#sectionLeft
{
	overflow:hidden;
	min-width:595px;
	overflow: visible;
	margin-left:10px;
}
#beachAnchor
{
	max-width:600px;
	margin:10px;
	margin-bottom:0px;
	margin-top:50px;
	display: inline-block;
}
#inventory
{
	margin:10px;
	margin-left:600px;
	height:541px;
	overflow-y:scroll;
	overflow-x:hidden;

}
#inventory.force3columns
{
	min-width:440px;
}
#sectionMainStats
{
	margin:10px
}
#sectionCounts
{
}
#sectionTime
{
}
#shop
{
	margin: 20px;
	margin-top:30px;
	border-width: 1px;
	border-style: solid;
}
#clockwrapper{
	position:absolute;
}
#clockface {
	background-color:White;
	background-image:url('img/clockface.png');
	width:40px;
	height:40px;
	border-radius:50px;
	margin-left:10px;
}

.floatbox{
	display: inline-block;
	vertical-align: top;
	width:150px;
	min-height:66px;
	margin:10px;
	border-width: 1px;
	border-style: solid;
	padding: 4px;
}

body.darkscheme .floatbox:hover{
	border-color:#ddd;
	background-color:#000
}

body.lightscheme .floatbox:hover{
	border-color:#222;
	background-color:#fff
}

.lootbox{
	display: inline-block;
	vertical-align: top;
	width:120px;
	min-height:38px;
	margin:5px;
	border-width: 1px;
	border-style: solid;
	overflow:hidden;
	padding: 4px;
}
.minifloatbox{
	display: inline-block;
	vertical-align: top;
	min-width:48px;
	min-height:20px;
	margin:5px;
	border-width: 1px;
	border-style: solid;
	text-align:center;
}
.floatsquare{
	display: inline-block;
	vertical-align: top;
	min-width:88px;
	min-height:98;
	margin:5px;
	border-width: 1px;
	border-style: solid;
	text-align:center;
}
.infobox
{
	text-align:center;
}
body.darkscheme .infobox
{
	background:#111;
}
body.lightscheme .infobox
{
	background:#eee;
}
body.darkscheme .sand.shop
{
	background:#181818
}
body.lightscheme .sand.shop
{
	background:#d8d8d8
}
body.darkscheme .castle.shop
{
	background:#222
}
body.lightscheme .castle.shop
{
	background:#ddd
}
body.darkscheme .boost.shop
{
	background:#282828
}
body.lightscheme .boost.shop
{
	background:#c8c8c8
}
body.darkscheme .boost.loot
{
	background:#ddd;
	color:#000;
	border-color:#333;
}
body.lightscheme .boost.loot
{
	background:#222;
	color:#fff;
	border-color:#ccc;
}
body.darkscheme .boost.loot:hover
{
	background:#F5F5F5;
	color:#000;
}
body.lightscheme .boost.loot:hover
{
	background:#0b0b0b;
	color:#fff;
}
.badge.shop
{
	border-style:dashed;
}
body.darkscheme .badge.shop
{
	color:#aaa;
	border-color:#222;
}
body.lightscheme .badge.shop
{
	color:#666;
	border-color:#ddd;
}
.badge.shop:hover
{
	border-style:solid;
}
body.darkscheme .badge.shop:hover
{
	color:#ccc;
	background:#111;
}
body.lightscheme .badge.shop:hover
{
	color:#333;
	background:#eee;
}
body.darkscheme .badge.shop .heading
{
	color:#333;
}
body.lightscheme .badge.shop .heading
{
	color:#ccc;
}
body.darkscheme .badge.loot
{
	border-color:#ccc;
	color:#eee;
}
body.lightscheme .badge.loot
{
	border-color:#333;
	color:#111;
}
body.darkscheme .badge.loot:hover
{
	background:#222;
	border-color:#ccc;
}
body.lightscheme .badge.loot:hover
{
	background:#ddd;
	border-color:#333;
}
body.darkscheme .badge.loot .heading
{
	color:#999;
}
body.lightscheme .badge.loot .heading
{
	color:#777;
}
.hidden
{
	display:none;
}
.unhidden
{
	display:block;
}
@font-face {
	font-family: 'Conv_xkcd-Regular';
	src: local('?'), url('fonts/xkcd-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
#notifs {position:absolute;left:0px;top:0px;}
.notif
{
	font-family:'Conv_xkcd-Regular',Sans-Serif;
	position:absolute;
	pointer-events:none;
	left:-200px;
	bottom:0px;
	width:600px;
	z-index:100000000;
	text-align:center;
	font-size:28px;
}
.icon
{
	float:right;
	top:4px;
	width:32px;
	height:32px;
}

body.darkscheme .notif
{
	text-shadow:0px 0px 6px #000;
}
body.lightscheme .notif
{
	text-shadow:0px 0px 6px #fff;
}
body.darkscheme #toolBucket
{
	background-image:url('img/bucket_light_icon.png');
}
body.lightscheme #toolBucket
{
	background-image:url('img/bucket_dark_icon.png');
}
body.darkscheme #toolCuegan
{
	background-image:url('img/cuegan2_light_icon.png');
}
body.lightscheme #toolCuegan
{
	background-image:url('img/cuegan2_dark_icon.png');
}
body.darkscheme #toolFlag
{
	background-image:url('img/flag_light_icon.png');
}
body.lightscheme #toolFlag
{
	background-image:url('img/flag_dark_icon.png');
}
body.darkscheme #toolLadder
{
	background-image:url('img/ladder_light_icon.png');
}
body.lightscheme #toolLadder
{
	background-image:url('img/ladder_dark_icon.png');
}
body.darkscheme #toolBag
{
	background-image:url('img/bag_light_icon.png');
}
body.lightscheme #toolBag
{
	background-image:url('img/bag_dark_icon.png');
}
body.darkscheme #toolNewPixBot
{
	background-image:url('img/newpixbot_light_icon.png');
}
body.lightscheme #toolNewPixBot
{
	background-image:url('img/newpixbot_dark_icon.png');
}
body.darkscheme #toolTrebuchet
{
	background-image:url('img/trebuchet_light_icon.png');
}
body.lightscheme #toolTrebuchet
{
	background-image:url('img/trebuchet_dark_icon.png');
}
body.darkscheme #toolScaffold
{
	background-image:url('img/scaffold_light_icon.png');
}
body.lightscheme #toolScaffold
{
	background-image:url('img/scaffold_dark_icon.png');
}
body.darkscheme #toolWave
{
	background-image:url('img/wave_light_icon.png');
}
body.lightscheme #toolWave
{
	background-image:url('img/wave_dark_icon.png');
}
body.darkscheme #toolRiver
{
	background-image:url('img/river_light_icon.png');
}
body.lightscheme #toolRiver
{
	background-image:url('img/river_dark_icon.png');
}
.boost.shop .icon
{
	background-image:url('img/boost_grey_icon.png');
}
body.darkscheme .boost.loot .icon
{
	background-image:url('img/boost_dark_icon.png');
}
body.lightscheme .boost.loot .icon
{
	background-image:url('img/boost_light_icon.png');
}
.badge.shop .icon
{
	background-image:url('img/badge_grey_icon.png');
}
body.darkscheme .badge.loot .icon
{
	background-image:url('img/badge_light_icon.png');
}
body.lightscheme .badge.loot .icon
{
	background-image:url('img/badge_dark_icon.png');
}
body.darkscheme .tool .icon.redacted, body.darkscheme .badge.loot .icon.redacted, body.lightscheme .boost.loot .icon.redacted
{
	background-image:url('img/redacted_light_icon.png');
}
body.lightscheme .tool .icon.redacted,  body.lightscheme .badge.loot .icon.redacted, body.darkscheme .boost.loot .icon.redacted
{
	background-image:url('img/redacted_dark_icon.png');
}
.boost.shop .icon.redacted, .badge.shop .icon.redacted
{
	background-image:url('img/redacted_grey_icon.png');
}

body.darkscheme.heresy .boost.loot.toggle, body.lightscheme.heresy .boost.shop.toggle, body.lightscheme.heresy .badge.toggle
{
	background:#d0d0e8;
}
body.lightscheme.heresy .boost.loot.toggle, body.darkscheme.heresy .boost.shop.toggle, body.darkscheme.heresy .badge.toggle
{
	background:#224;
}

body.darkscheme.heresy .boost.loot.toggle:hover, body.lightscheme.heresy .boost.shop.toggle:hover, body.lightscheme.heresy .badge.toggle:hover
{
	background:#d8d8ff;
}
body.lightscheme.heresy .boost.loot.toggle:hover, body.darkscheme.heresy .boost.shop.toggle:hover, body.darkscheme.heresy .badge.toggle:hover
{
	background:#0a0a20;
}

body.darkscheme.heresy .boost.loot.alert:hover, body.lightscheme.heresy .boost.shop.alert:hover, body.lightscheme.heresy .badge.alert
{
	background:#FFF2F2;
}
body.lightscheme.heresy .boost.loot.alert:hover, body.darkscheme.heresy .boost.shop.alert:hover, body.darkscheme.heresy .badge.alert
{
	background:#200b0b;
}

body.darkscheme.heresy .boost.loot.alert, body.lightscheme.heresy .boost.shop.alert, body.lightscheme.heresy .badge.alert:hover
{
	background:#fdd;
}
body.lightscheme.heresy .boost.loot.alert, body.darkscheme.heresy .boost.shop.alert, body.darkscheme.heresy .badge.alert:hover
{
	background:#522;
}

body.darkscheme.heresy .boost.loot.action:hover, body.lightscheme.heresy .boost.shop.action:hover, body.lightscheme.heresy .badge.action
{
	background:#FFFFF2;
}
body.lightscheme.heresy .boost.loot.action:hover, body.darkscheme.heresy .boost.shop.action:hover, body.darkscheme.heresy .badge.action
{
	background:#20200b;
}

body.darkscheme.heresy .boost.loot.action, body.lightscheme.heresy .boost.shop.action, body.lightscheme.heresy .badge.action:hover
{
	background:#ffd;
}
body.lightscheme.heresy .boost.loot.action, body.darkscheme.heresy .boost.shop.action, body.darkscheme.heresy .badge.action:hover
{
	background:#552;
}


body.lightscheme .badge.loot #badge_judgementdip.icon
{
	background-image:url('img/badge_judgementdip_dark_icon.png');
}
body.darkscheme .badge.loot #badge_judgementdip.icon
{
	background-image:url('img/badge_judgementdip_light_icon.png');
}
body.lightscheme.heresy .badge.loot #badge_judgementdip.icon
{
	background-image:url('img/badge_judgementdip_dark_heresy_icon.png');
}
body.darkscheme.heresy .badge.loot #badge_judgementdip.icon
{
	background-image:url('img/badge_judgementdip_light_heresy_icon.png');
}
body.lightscheme .badge.loot #badge_judgementdipwarning.icon
{
	background-image:url('img/badge_judgementdipwarning_dark_icon.png');
}
body.darkscheme .badge.loot #badge_judgementdipwarning.icon
{
	background-image:url('img/badge_judgementdipwarning_light_icon.png');
}
body.lightscheme.heresy .badge.loot #badge_judgementdipwarning.icon
{
	background-image:url('img/badge_judgementdipwarning_dark_heresy_icon.png');
}
body.darkscheme.heresy .badge.loot #badge_judgementdipwarning.icon
{
	background-image:url('img/badge_judgementdipwarning_light_heresy_icon.png');
}


body.darkscheme .boost.loot #boost_activeninja.icon
{
	background-image:url('img/boost_activeninja_dark_icon.png');
}
body.lightscheme .boost.loot #boost_activeninja.icon
{
	background-image:url('img/boost_activeninja_light_icon.png');
}
body.darkscheme .boost.loot #boost_autosave.icon
{
	background-image:url('img/boost_autosave_dark_icon.png');
}
body.lightscheme .boost.loot #boost_autosave.icon
{
	background-image:url('img/boost_autosave_light_icon.png');
}
body.darkscheme .boost.loot #boost_bagburning.icon
{
	background-image:url('img/boost_bagburning_dark_icon.png');
}
body.lightscheme .boost.loot #boost_bagburning.icon
{
	background-image:url('img/boost_bagburning_light_icon.png');
}
body.darkscheme .boost.loot #boost_balancingact.icon
{
	background-image:url('img/boost_balancingact_dark_icon.png');
}
body.lightscheme .boost.loot #boost_balancingact.icon
{
	background-image:url('img/boost_balancingact_light_icon.png');
}
body.darkscheme .boost.loot #boost_biggerbuckets.icon
{
	background-image:url('img/boost_biggerbuckets_dark_icon.png');
}
body.lightscheme .boost.loot #boost_biggerbuckets.icon
{
	background-image:url('img/boost_biggerbuckets_light_icon.png');
}
body.darkscheme .boost.loot #boost_bigsplash.icon
{
	background-image:url('img/boost_bigsplash_dark_icon.png');
}
body.lightscheme .boost.loot #boost_bigsplash.icon
{
	background-image:url('img/boost_bigsplash_light_icon.png');
}
body.darkscheme .boost.loot #boost_bfj.icon
{
	background-image:url('img/boost_bfj_dark_icon.png');
}
body.lightscheme .boost.loot #boost_bfj.icon
{
	background-image:url('img/boost_bfj_light_icon.png');
}
body.darkscheme .boost.loot #boost_blastfurnace.icon
{
	background-image:url('img/boost_blastfurnace_dark_icon.png');
}
body.lightscheme .boost.loot #boost_blastfurnace.icon
{
	background-image:url('img/boost_blastfurnace_light_icon.png');
}
body.darkscheme .boost.loot #boost_blitzing.icon
{
	background-image:url('img/boost_blitzing_dark_icon.png');
}
body.lightscheme .boost.loot #boost_blitzing.icon
{
	background-image:url('img/boost_blitzing_light_icon.png');
}
body.darkscheme .boost.loot #boost_bkj.icon
{
	background-image:url('img/boost_bkj_dark_icon.png');
}
body.lightscheme .boost.loot #boost_bkj.icon
{
	background-image:url('img/boost_bkj_light_icon.png');
}
body.darkscheme .boost.loot #boost_buccaneer.icon
{
	background-image:url('img/boost_buccaneer_dark_icon.png');
}
body.lightscheme .boost.loot #boost_buccaneer.icon
{
	background-image:url('img/boost_buccaneer_light_icon.png');
}
body.darkscheme .boost.loot #boost_bucketbrigade.icon
{
	background-image:url('img/boost_bucketbrigade_dark_icon.png');
}
body.lightscheme .boost.loot #boost_bucketbrigade.icon
{
	background-image:url('img/boost_bucketbrigade_light_icon.png');
}
body.darkscheme .boost.loot #boost_chirpies.icon
{
	background-image:url('img/boost_chirpies_dark_icon.png');
}
body.lightscheme .boost.loot #boost_chirpies.icon
{
	background-image:url('img/boost_chirpies_light_icon.png');
}
body.darkscheme .boost.loot #boost_chromatic.icon
{
	background-image:url('img/boost_chromatic_dark_icon.png');
}
body.lightscheme .boost.loot #boost_chromatic.icon
{
	background-image:url('img/boost_chromatic_light_icon.png');
}
body.darkscheme.heresy .boost.loot #boost_chromatic.icon
{
	background-image:url('img/boost_chromatic_dark_heresy_icon.png');
}
body.lightscheme.heresy .boost.loot #boost_chromatic.icon
{
	background-image:url('img/boost_chromatic_light_heresy_icon.png');
}
body.darkscheme .boost.loot #boost_comamolpystyle.icon
{
	background-image:url('img/boost_comamolpystyle_dark_icon.png');
}
body.lightscheme .boost.loot #boost_comamolpystyle.icon
{
	background-image:url('img/boost_comamolpystyle_light_icon.png');
}
body.darkscheme .boost.loot #boost_cuegan.icon
{
	background-image:url('img/boost_cuegan_dark_icon.png');
}
body.lightscheme .boost.loot #boost_cuegan.icon
{
	background-image:url('img/boost_cuegan_light_icon.png');
}
body.darkscheme .boost.loot #boost_department.icon
{
	background-image:url('img/boost_department_dark_icon.png');
}
body.lightscheme .boost.loot #boost_department.icon
{
	background-image:url('img/boost_department_light_icon.png');
}
body.darkscheme .boost.loot #boost_doubleornothing.icon
{
	background-image:url('img/boost_doubleornothing_dark_icon.png');
}
body.lightscheme .boost.loot #boost_doubleornothing.icon
{
	background-image:url('img/boost_doubleornothing_light_icon.png');
}
body.darkscheme .boost.loot #boost_doublepost.icon
{
	background-image:url('img/boost_doublepost_dark_icon.png');
}
body.lightscheme .boost.loot #boost_doublepost.icon
{
	background-image:url('img/boost_doublepost_light_icon.png');
}
body.darkscheme .boost.loot #boost_embaggening.icon
{
	background-image:url('img/boost_embaggening_dark_icon.png');
}
body.lightscheme .boost.loot #boost_embaggening.icon
{
	background-image:url('img/boost_embaggening_light_icon.png');
}
body.darkscheme .boost.loot #boost_erosion.icon
{
	background-image:url('img/boost_erosion_dark_icon.png');
}
body.lightscheme .boost.loot #boost_erosion.icon
{
	background-image:url('img/boost_erosion_light_icon.png');
}
body.darkscheme .boost.loot #boost_factoryautomation.icon
{
	background-image:url('img/boost_factoryautomation_dark_icon.png');
}
body.lightscheme .boost.loot #boost_factoryautomation.icon
{
	background-image:url('img/boost_factoryautomation_light_icon.png');
}
body.darkscheme .boost.loot #boost_flagbearer.icon
{
	background-image:url('img/boost_flagbearer_dark_icon.png');
}
body.lightscheme .boost.loot #boost_flagbearer.icon
{
	background-image:url('img/boost_flagbearer_light_icon.png');
}
body.darkscheme .boost.loot #boost_halokitty.icon
{
	background-image:url('img/boost_halokitty_dark_icon.png');
}
body.lightscheme .boost.loot #boost_halokitty.icon
{
	background-image:url('img/boost_halokitty_light_icon.png');
}

body.darkscheme .boost.loot #boost_helpfulhands.icon
{
	background-image:url('img/boost_helpfulhands_dark_icon.png');
}
body.lightscheme .boost.loot #boost_helpfulhands.icon
{
	background-image:url('img/boost_helpfulhands_light_icon.png');
}
body.darkscheme .boost.loot #boost_helpinghand.icon
{
	background-image:url('img/boost_helpinghand_dark_icon.png');
}
body.lightscheme .boost.loot #boost_helpinghand.icon
{
	background-image:url('img/boost_helpinghand_light_icon.png');
}
body.darkscheme .boost.loot #boost_hugebuckets.icon
{
	background-image:url('img/boost_hugebuckets_dark_icon.png');
}
body.lightscheme .boost.loot #boost_hugebuckets.icon
{
	background-image:url('img/boost_hugebuckets_light_icon.png');
}
body.darkscheme .boost.loot #boost_irregularrivers.icon
{
	background-image:url('img/boost_irregularrivers_dark_icon.png');
}
body.lightscheme .boost.loot #boost_irregularrivers.icon
{
	background-image:url('img/boost_irregularrivers_light_icon.png');
}
body.darkscheme .boost.loot #boost_kitnip.icon
{
	background-image:url('img/boost_kitnip_dark_icon.png');
}
body.lightscheme .boost.loot #boost_kitnip.icon
{
	background-image:url('img/boost_kitnip_light_icon.png');
}
body.darkscheme .boost.loot #boost_kittiesgalore.icon
{
	background-image:url('img/boost_kittiesgalore_dark_icon.png');
}
body.lightscheme .boost.loot #boost_kittiesgalore.icon
{
	background-image:url('img/boost_kittiesgalore_light_icon.png');
}
body.darkscheme .boost.loot #boost_levelup.icon
{
	background-image:url('img/boost_levelup_dark_icon.png');
}
body.lightscheme .boost.loot #boost_levelup.icon
{
	background-image:url('img/boost_levelup_light_icon.png');
}
body.darkscheme .boost.loot #boost_magicmountain.icon
{
	background-image:url('img/boost_magicmountain_dark_icon.png');
}
body.lightscheme .boost.loot #boost_magicmountain.icon
{
	background-image:url('img/boost_magicmountain_light_icon.png');
}
body.darkscheme .boost.loot #boost_megball.icon
{
	background-image:url('img/boost_megball_dark_icon.png');
}
body.lightscheme .boost.loot #boost_megball.icon
{
	background-image:url('img/boost_megball_light_icon.png');
}
body.darkscheme .boost.loot #boost_minigun.icon
{
	background-image:url('img/boost_minigun_dark_icon.png');
}
body.lightscheme .boost.loot #boost_minigun.icon
{
	background-image:url('img/boost_minigun_light_icon.png');
}
body.darkscheme .boost.loot #boost_molpies.icon
{
	background-image:url('img/boost_molpies_dark_icon.png');
}
body.lightscheme .boost.loot #boost_molpies.icon
{
	background-image:url('img/boost_molpies_light_icon.png');
}
body.darkscheme .boost.loot #boost_ninjaassistants.icon
{
	background-image:url('img/boost_ninjaassistants_dark_icon.png');
}
body.lightscheme .boost.loot #boost_ninjaassistants.icon
{
	background-image:url('img/boost_ninjaassistants_light_icon.png');
}
body.darkscheme .boost.loot #boost_ninjabuilder.icon
{
	background-image:url('img/boost_ninjabuilder_dark_icon.png');
}
body.lightscheme .boost.loot #boost_ninjabuilder.icon
{
	background-image:url('img/boost_ninjabuilder_light_icon.png');
}
body.darkscheme .boost.loot #boost_ninjahope.icon
{
	background-image:url('img/boost_ninjahope_dark_icon.png');
}
body.lightscheme .boost.loot #boost_ninjahope.icon
{
	background-image:url('img/boost_ninjahope_light_icon.png');
}
body.darkscheme .boost.loot #boost_ninjapenance.icon
{
	background-image:url('img/boost_ninjapenance_dark_icon.png');
}
body.lightscheme .boost.loot #boost_ninjapenance.icon
{
	background-image:url('img/boost_ninjapenance_light_icon.png');
}
body.darkscheme .boost.loot #boost_overcompensating.icon
{
	background-image:url('img/boost_overcompensating2_dark_icon.png');
}
body.lightscheme .boost.loot #boost_overcompensating.icon
{
	background-image:url('img/boost_overcompensating2_light_icon.png');
}
body.darkscheme .boost.loot #boost_riverish.icon
{
	background-image:url('img/boost_riverish_dark_icon.png');
}
body.lightscheme .boost.loot #boost_riverish.icon
{
	background-image:url('img/boost_riverish_light_icon.png');
}
body.darkscheme .boost.loot #boost_springfling.icon
{
	background-image:url('img/boost_springfling_dark_icon.png');
}
body.lightscheme .boost.loot #boost_springfling.icon
{
	background-image:url('img/boost_springfling_light_icon.png');
}
body.darkscheme .boost.loot #boost_stacked.icon
{
	background-image:url('img/boost_stacked_dark_icon.png');
}
body.lightscheme .boost.loot #boost_stacked.icon
{
	background-image:url('img/boost_stacked_light_icon.png');
}
body.darkscheme .boost.loot #boost_theforty.icon
{
	background-image:url('img/boost_theforty_dark_icon.png');
}
body.lightscheme .boost.loot #boost_theforty.icon
{
	background-image:url('img/boost_theforty_light_icon.png');
}
body.darkscheme .boost.loot #boost_truecolours.icon
{
	background-image:url('img/boost_truecolours_dark_icon.png');
}
body.lightscheme .boost.loot #boost_truecolours.icon
{
	background-image:url('img/boost_truecolours_light_icon.png');
}
body.darkscheme .boost.loot #boost_warbanner.icon
{
	background-image:url('img/boost_warbanner_dark_icon.png');
}
body.lightscheme .boost.loot #boost_warbanner.icon
{
	background-image:url('img/boost_warbanner_light_icon.png');
}

body.darkscheme .boost.loot #boost_carrybot.icon
{
	background-image:url('img/boost_carrybot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_carrybot.icon
{
	background-image:url('img/boost_carrybot_light_icon.png');
}
body.darkscheme .boost.loot #boost_stickbot.icon
{
	background-image:url('img/boost_stickbot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_stickbot.icon
{
	background-image:url('img/boost_stickbot_light_icon.png');
}
body.darkscheme .boost.loot #boost_standardbot.icon
{
	background-image:url('img/boost_standardbot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_standardbot.icon
{
	background-image:url('img/boost_standardbot_light_icon.png');
}
body.darkscheme .boost.loot #boost_climbbot.icon
{
	background-image:url('img/boost_climbbot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_climbbot.icon
{
	background-image:url('img/boost_climbbot_light_icon.png');
}
body.darkscheme .boost.loot #boost_luggagebot.icon
{
	background-image:url('img/boost_luggagebot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_luggagebot.icon
{
	background-image:url('img/boost_luggagebot_light_icon.png');
}
body.darkscheme .boost.loot #boost_recursivebot.icon
{
	background-image:url('img/boost_recursivebot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_recursivebot.icon
{
	background-image:url('img/boost_recursivebot_light_icon.png');
}
body.darkscheme .boost.loot #boost_flingbot.icon
{
	background-image:url('img/boost_flingbot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_flingbot.icon
{
	background-image:url('img/boost_flingbot_light_icon.png');
}
body.darkscheme .boost.loot #boost_propbot.icon
{
	background-image:url('img/boost_propbot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_propbot.icon
{
	background-image:url('img/boost_propbot_light_icon.png');
}
body.darkscheme .boost.loot #boost_surfbot.icon
{
	background-image:url('img/boost_surfbot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_surfbot.icon
{
	background-image:url('img/boost_surfbot_light_icon.png');
}
body.darkscheme .boost.loot #boost_smallbot.icon
{
	background-image:url('img/boost_smallbot_dark_icon.png');
}
body.lightscheme .boost.loot #boost_smallbot.icon
{
	background-image:url('img/boost_smallbot_light_icon.png');
}